<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.name }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script type="application/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="application/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
{% if parent %}
    <div class="well">
        <a href="/pages/{{ parent.id }}">
            <span class="glyphicon glyphicon-arrow-left"></span> {{ parent.name }}
        </a>
    </div>
{% endif %}
<div class="jumbotron">
    <h1>{{ page.name }}</h1>
    <blockquote>{{ page.content }}</blockquote>
</div>
{% if children|length %}
    <div class="well">
        <h4>Children</h4>
        <ul class="list-group">
            {% for child in children %}
                <li class="list-group-item">
                    <a href="/pages/{{ child.id }}">{{ child.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</body>
</html>